openapi: 3.0.1
info:
  title: STD21030
  description: 'Hello world!'
  version: 1.0.0
servers:
- url: https://std21030.com

paths:
  /students:
    get:
      tags:
      - Students
      summary: Get all students
      operationId: updatePet
      parameters: 
        - name: page
          in: query
          schema:
            type: integer
            
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        200:
          description: List of students
          content: 
            application/json:
              schema:
                type: array
                items: 
                   example: 
                     {
                       "id":0,
                      "name":"string"
                     }
                     
        404:
          description: Bad request
          content: {}
    post:
      tags:
        - Students
      summary: Crate new student
      operationId: addPet
      requestBody:
        description: Student to be created
        content:
          application/json:
            schema:

              example: [
                {
                'name':'string'
                }
              ]
        required: true
      responses:
        200:
          description: List of students
          content: 
            application/json:
              example: [
                  {
                    "id":0,
                    "name":'string'
                  }
                ]
        400:
          description: Bad request
  

components:
  schemas:
    CreateStudent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        petId:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          enum:
          - placed
          - approved
          - delivered
        complete:
          type: boolean
          default: false
      xml:
        name: Order
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category