openapi: 3.0.1
info:
  title: STD21030 API
  description: 'Global description of my API'
  version: 1.0.0
servers:
  - url: https://STD21000.com
tags:
  - name: Students

  - name: Courses
paths:
  /students:
    get:
      tags:
        - Students
      operationId: getStudents
      summary: Get all students
      description: Get all students with details
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        400:
          description: Bad request
    post:
      tags:
        - Students
      operationId: createStudent
      summary: Create new student
      description: Create new student
      requestBody:
        description: Student to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudent'
        required: true
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        400:
          description: Bad request
  /students/{id}:
    get:
      tags:
        - Students
      summary: Get student by identifier
      description: Get the student with the specified id
      parameters:
        - name: id
          description: the id of the student
          required: true
          in: path
          schema:
            type: integer

      responses:
        200:
          description: the student that own the specified id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Student"
    delete:
      tags:
        - Students
      summary: Delete a student by identifier
      description: Delete a student
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: integer
      responses:
        200:
          description: a message
          content:
            application/json:
              schema:
                example: {
                           message:student deleted
                }
  /courses:
    get:
      tags:
        - Courses
      summary: Get all courses
      description: Get all courses
      responses:
        200:
          description: List of all courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CreateNewCourses"
        400:
          description: Bad request
    post:
      tags:
        - Courses
      summary: Create new course
      description: Create new course
      responses:
        200:
          description: List of all courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNewCourses'
        400:
          description: Bad request
    put:
      tags:
        - Courses
      summary: Change all info about a course
      description: "Change all info about a course"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
      requestBody:
        description: All info about the new course
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Courses'
      responses:
        "200":
          description: "OK"
        400:
          description: "Bad Request"
    patch:
      tags:
        - Courses
      summary: Modify a course
      description: Update existing course
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Courses'
        required: true
      responses:
        200:
          description: The course modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
  /courses/{id}:
    get:
      tags:
        - Courses
      summary: "Get course by identifier"
      description: "Get course by identifier"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The identified course
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courses'
        400:
          description: "Bad request"
components:
  schemas:
    CreateStudent:
      type: object
      properties:
        name:
          type: string
          example: "Rakoto"
        birth_date:
          type: string
          format: date
          example: "2022-01-01"
    Student:
      allOf:
        - $ref: '#/components/schemas/CreateStudent'
      type: object
      properties:
        id:
          type: integer
          example: 10
    CreateNewCourses:
      type: object
      properties:
        code:
          type: string
          example: "prog1"
        name:
          type: string
          example: "algorithmique"
        teacher:
          type: string
          example: "Tokimahery ramarozaka"
        createdDate:
          type: string
          format: date
    Courses:
      allOf:
        - $ref: '#/components/schemas/CreateNewCourses'
      type: object
      properties:
        id:
          type: integer
          example: 1